.cta {
    max-width: 21.4375rem;
    margin: 0 auto;
    position: relative;
}


.cta-img-box {
    max-width: 17.5625rem;
    justify-self: center;
    margin: 0 auto;
    position: relative;
    top: 55px;
    z-index: -1;
}

.cta-content {
    background: var(--primary-color);
    color: #FFFFFF;
    text-align: center;
    padding: 2rem 1.9375rem;
}

.cta-content h2 {
    font-size: 2rem;
    font-weight: var(--weight-semibold);
    margin-bottom: 1rem;
    line-height: 1.5;
}

.cta-content p {
    font-family: var(--secondary-font);
    margin-bottom: 1.5rem;
    line-height: 1.75;
}

.cta-content a {
    margin: 0 auto;
    max-width: 10.75rem;
    max-height: 3.4375rem;
    padding: 1rem 0;
}

@media only screen and (min-width: 700px) {
    .cta {
      max-width: 689px;

    }

    .cta-img-box {
      
    }

    .cta-content {
     max-width: 514px;
   
    }

    .cta-content h2 {
        font-size: 48px;
        text-align: left;
        margin-bottom: 1.5rem;
        line-height: 1.1666
    }

    .cta-content p {
        text-align: left;
        line-height: 1.75;
    }

    .cta-content a {
        margin: initial;
    }
  

}
  

@media only screen and (min-width: 1200px) {
    

    .cta-content h2 {
        font-size: 56px;
        margin-bottom: 2rem;
    }

    .cta-content p {
        margin-bottom: 2rem;
    }

    .cta-img-box {
        max-width: 477px;
    }

}
