.footer {
    display: flex;
    flex-direction: column;
    gap: 3.5625rem;
    align-items: center;
    margin-bottom: 3.9863rem;

}

.footer-logotype {
    max-width: 5.9813rem;
}

.footer-icons {
    display: flex;
    gap: 1.75rem;
}

@media only screen and (min-width: 700px) {
    .footer {
        margin-bottom: 7.6113rem;
    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        margin-bottom: 6.875rem;
    }
}
