.intro {
    background-color: var(--primary-color);
}

.intro h1{
    font-size: 3.125rem;
    text-align: center;
    line-height: 1;
    color: #FFFFFF;
    padding: 0rem 1rem 2.5rem 1rem;
}

.intro a {
    padding: 0.9688rem 1.375rem;
    text-align: center;
    margin: 0 auto;
    max-width: 8.3125rem;
}

.intro-img-container {
    max-width: 20rem;
    transform: translateY(4rem);
    margin: auto;
}

@media only screen and (min-width: 700px) {
    .intro h1 {
        font-size: 3.75rem;
        max-width: 35.8125rem;
        margin: 0 auto;
    }

    .intro-img-container {
        max-width: 32.125rem;
        transform: translateY(3.4375rem);
    }
}
  

@media only screen and (min-width: 1200px) {
    .intro h1 {
        font-size: 5rem;
        max-width: 39.6875rem;
        padding-bottom: 2.3125rem;
    }

    .intro-img-container {
        max-width: 47.9375rem;
        transform: translateY(3.125rem);
    }
}



